@charset "UTF-8";
/* CSS Document */
.Formulaire {
  position: relative;
  width: 1285px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
}
.identity {
background-color: #2574a9;
}
.livraison {
background-color: #9a12b3;
}
.reglement {
background-color: #db0a5b;
}
